* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

main {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-header,
.sub-header {
  margin-block-end: 4rem;
  text-align: center;
}

.main-header {
  font-size: 4rem;
}

.sub-header {
  font-size: 2rem;
}

.auth {
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.auth-fields {
  /* padding-block-start: 5rem; */
  position: absolute;
  display: flex;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 70vh;
  z-index: 5;
  top: 100vh;
  background-color: rgb(112, 171, 173);
}

.error {
  background-color: #db5c5c;
}

.warn {
  background-color: #ffa034;
}

.auth-fields label {
  margin-block-start: 2rem;
  font-size: 2rem;
}

.auth-fields label:first-child {
  margin-block-start: 0;
}

.auth-fields button {
  margin-block-start: 2rem;
}

.back {
  justify-self: flex-start;
  align-self: flex-start;
  margin-inline-start: 2rem;
  margin-block-start: 2rem;
}

button {
  padding-block-start: 0.5rem;
  padding-block-end: 0.5rem;
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
  border-radius: 2rem;
  border: none;
  background: #ccc;
}

@keyframes slideUp {
  from {
    top: 100vh;
  }
  to {
    top: 40vh;
  }
}
@keyframes slideDown {
  from {
    top: 40vh;
  }
  top {
    top: 100vh;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}